<div class="text-center mt-3" >
    <h2>Your matches - {{pagination?.TotalCount}}</h2>
</div>
<div class="container mt-3">
    <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
        <div class="form-group">
            <label>Age from : </label>
            <input type="number" class="form-control ml-1" style="width:70px;" name="minAge"
            [(ngModel)]="userParams.minAge">
        </div>
        <div class="form-group px-2">
            <label>Age to : </label>
            <input type="number" class="form-control ml-1" style="width:70px;" name="maxAge"
            [(ngModel)]="userParams.maxAge">
        </div>
        <div class="form-group px-2">
            <label>Show : </label>
            <select name="gender" style="width: 130px;" class="form-control ml-1"
                 [(ngModel)]="userParams.gender">
                <option *ngFor="let gender of genderList" [value]="gender.value">{{gender.display}}</option>
            </select>
        </div>

        <button class="btn btn-primary ml-1" type="submit">Apply Filters</button>
        <button class="btn btn-info ml-1" type="submit" (click)="resetFilters()">Reset Filters</button>

        <!--ova dva dugmeta dole su za sortiranje , i za njih sam koristio
        ngx-bootstrap/buttons paket. Sa tim paketom dolazi ovaj btnRadio property .
        Klikom na neki od ova dva dugmeta zbog twoWayBindinga se updajetuje orderBy property 
        ali ce zbog ovog btnRadio da u prvom slucaju orderBy dobije vrednost "lastActive" 
        a pritiskom na drugo dugme dobice vrednost "created". Znaci tome sluzi btnRadio-->
        <div class="col">
            <div class="btn-group float-right">
                <button class="btn btn-primary"
                type="button"
                name="orderBy"
                (click)="loadMembers()"
                btnRadio="lastActive"
                 [(ngModel)]="userParams.orderBy">Last Active</button>
            </div>
            <div class="btn-group float-right">
                <button class="btn btn-primary"
                type="button"
                name="orderBy"
                (click)="loadMembers()"
                btnRadio="created" 
                [(ngModel)]="userParams.orderBy">Newest Members</button>
            </div>
        </div>
        
    </form>
</div>
<div class="row">
    <div class="col-2" *ngFor="let member of members">
       <app-member-card [member]="member"></app-member-card>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
    [boundaryLinks]="true" 
    [totalItems]="pagination.TotalCount"
    [itemsPerPage]="pagination.PageSize"
    [(ngModel)]="pagination.CurrentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;" 
    lastText="&raquo;">
 
</pagination>
</div>
